<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.dao.UserDao">

<!-- 定义返回结果集          type使用的是别名 -->
	<resultMap type="User" id="UserResult">
		<result property="id" column="id"/>
		<result property="userName" column="userName"/>
		<result property="password" column="password"/>
	</resultMap>
<!-- id对应接口的方法名     这里是UserDao里面的方法       parameterType使用的是别名-->
	<select id="login" parameterType="User" resultMap="UserResult">
		select * from t_user where userName=#{userName} and password=#{password}
	</select>

</mapper> 